<h1>Department Store Index</h1>
<%= link_to "Add a Department", new_department_path %>
<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
    <% end %>
</ul>
